.inner{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fiv-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    
}
.texter {
    color: thistle;
}
.fev {
    color: white;
}
.fev-div {
   
    background-color: #5f27cd;
    border-radius: 50%;
    height: 50px;
    width: 50px;
 
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.buto {
    border: none;
    width: 80%;
    height: 40px;
   border-radius: 10px;
   background-color:#5f27cd;
   color: white;
   margin-bottom: 10px;
}
.buto:focus {
    outline: none;
}
.textfield__label{
    color: red !important;
}
.r-div { 
    margin-top: 0 !important;
    padding-top: 0 !important;
    width: 80%;
}
.r {color: red;}

